<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>Liar Game</title>
    <style>
        table{
            width: 95%;
        }
        .td6{
            font-size: 0.67em;
            margin-left: 0;
            margin-right: 0;
        }
        .td6c{
            text-align:center;
            font-size: 0.67em;
            margin-left: 0;
            margin-right: 0;
        }
        .tdh6{
            font-size: 0.67em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
        .tdh6c{
            text-align:center;
            font-size: 0.67em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
    </style>
    <script type="text/javascript">
    // 클라이언트와 서버의 웹소켓 통신을 가능하도록 연결시켜주는 부분이다.
    // router.py에서의 url과 일치하도록 해 주어야한다.
    var web_socket = new WebSocket('ws://' + window.location.host + '/liar/' + '{{ gamer.game.gamecode }}' + '/' + '{{ gamer.user.username }}');

    // onmessage는 counsumers에서 보내는 메세지를 받는 부분이다.
    web_socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];

        if (message == 'refresh') {
            setTimeout(function(){
                document.location.href = "{% url 'liar:game' gamer.game.gamecode gamer.user.username %}";
            }, 500);
        }
    };

    function readygame() {
        id_action.value = "readygame";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function viewgame() {
        id_action.value = "viewgame";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function startgame() {
        id_action.value = "startgame";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function votegame() {
        swal("발언을 종료하고 라이어를 검거하시겠습니까?", {
            dangerMode: true,
            buttons: ["취소", "투표"],
        }).then((isConfirm) => {
            if(isConfirm) {
                id_action.value = "votegame";
                document.forms['gameform'].submit();

                web_socket.send(JSON.stringify({
                    'message': 'refresh'
                }));
            } else {
                swal("발언을 계속합니다.");
            }
        });
    }

    function liargame() {
        id_action.value = "liargame";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function resultgame() {
        swal("전적을 저장하지 않고 결과만 보시겠습니까?", {
            dangerMode: true,
            buttons: ["취소", "결과확인"],
        }).then((isConfirm) => {
            if(isConfirm) {
                id_action.value = "resultgame";
                document.forms['gameform'].submit();

                web_socket.send(JSON.stringify({
                    'message': 'refresh'
                }));
            }
        });
    }

    function endgame() {
        id_action.value = "endgame";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function gamecategory(categoryname) {
        id_action.value = "gamecategory";
        id_categoryname.value = categoryname;
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function trickster(tricksterYn) {
        let btn_text = "추가";
        let danger_mode = false;
        if(tricksterYn == "True") {
            btn_text = "제외";
            danger_mode = true;
        }
        swal("나는 나는 사기꾼~🎶", "소속: 라이어\n특수: 제시어를 알고 있습니다.\n\n목표\n1. 라이어를 도와주세요.\n2. 시민에게 정체를 들키지 마세요.", {
            dangerMode: danger_mode,
            buttons: ["취소", btn_text],
        }).then((isConfirm) => {
            if(isConfirm) {
                id_action.value = "trickster";
                document.forms['gameform'].submit();

                web_socket.send(JSON.stringify({
                    'message': 'refresh'
                }));
            }
        });
    }

    function whistleblower(whistleblowerYn) {
        let btn_text = "추가";
        let danger_mode = false;
        if(whistleblowerYn == "True") {
            btn_text = "제외";
            danger_mode = true;
        }
        swal("라이어가 누구냐면? 쉿~🤫", "소속: 시민\n특수: 라이어와 제시어를 알고 있습니다.\n\n목표\n1. 라이어와 사기꾼을 찾으세요.\n2. 라이어에게 정체를 들키지 마세요.", {
            dangerMode: danger_mode,
            buttons: ["취소", btn_text],
        }).then((isConfirm) => {
            if(isConfirm) {
                id_action.value = "whistleblower";
                document.forms['gameform'].submit();

                web_socket.send(JSON.stringify({
                    'message': 'refresh'
                }));
            }
        });

    }

    function descjob(job) {
        let desc = "";
        if(job == 'citizen') {
            desc += "소속: 시민\n특수: 제시어를 알고 있습니다.";
            if('{{ gamer.game.tricksterYn }}' == 'True') {
                desc += "\n\n목표\n1. 라이어와 사기꾼을 찾으세요.";
            } else  {
                desc += "\n\n목표\n1. 라이어를 찾으세요.";
            }
            if('{{ gamer.game.whistleblowerYn }}' == 'True') {
                desc += "\n2. 내부고발자(배신자)를 보호하세요.";
            }
            swal("나 진짜 시민이라고~☠", desc, {
                buttons: false,
                timer: 2000,
            });
        } else if(job == 'liar') {
            desc += "소속: 라이어\n\n목표\n1. 제시어를 유추하세요.";
            if('{{ gamer.game.whistleblowerYn }}' == 'True') {
                desc += "\n2. 배신자(내부고발자)를 찾으세요.";
            }
            swal("I am a Liar~👻", desc , {
                buttons: false,
                timer: 2000,
            });
        } else if(job == 'trickster') {
            desc += "소속: 라이어\n특수: 제시어를 알고 있습니다.\n\n목표\n1. 라이어를 도와주세요.\n2. 시민에게 정체를 들키지 마세요.";
            swal("나는 나는 사기꾼~🎶", desc, {
                buttons: false,
                timer: 2000,
            });
        } else if(job == 'whistleblower') {
            desc += "소속: 시민\n특수: 라이어와 제시어를 알고 있습니다.";
            if('{{ gamer.game.tricksterYn }}' == 'True') {
                desc += "\n\n목표\n1. 라이어와 사기꾼을 찾으세요.";
            } else  {
                desc += "\n\n목표\n1. 라이어를 찾으세요.";
            }
            desc += "\n2. 라이어에게 정체를 들키지 마세요.";
            swal("라이어가 누구냐면? 쉿~🤫", desc, {
                buttons: false,
                timer: 2000,
            });
        }
    }

    function info(job) {
        let desc = "";
        if(job == 'citizen') {
            desc += "소속: 시민\n\n카테고리: " + '{{ gamer.game.categoryname }}' + "\n제시어: " + '{{ gamer.game.word }}';
            if('{{ gamer.game.tricksterYn }}' == 'True') {
                desc += "\n\n목표\n1. 라이어와 사기꾼을 찾으세요.";
            } else  {
                desc += "\n\n목표\n1. 라이어를 찾으세요.";
            }
            if('{{ gamer.game.whistleblowerYn }}' == 'True') {
                desc += "\n2. 내부고발자(배신자)를 보호하세요.";
            }
            swal("나 진짜 시민이라고~☠", desc, {
                buttons: false,
                timer: 2000,
            });
        } else if(job == 'liar') {
            desc += "소속: 라이어\n\n카테고리: " + '{{ gamer.game.categoryname }}' + "\n\n목표\n1. 제시어를 유추하세요.";
            if('{{ gamer.game.whistleblowerYn }}' == 'True') {
                desc += "\n2. 배신자(내부고발자)를 찾으세요.";
            }
            swal("I am a Liar~👻", desc, {
                buttons: false,
                timer: 2000,
            });
        } else if(job == 'trickster') {
            desc += "소속: 라이어\n\n카테고리: " + '{{ gamer.game.categoryname }}' + "\n제시어: " + '{{ gamer.game.word }}' + "\n\n목표\n1. 라이어를 도와주세요.\n2. 시민에게 정체를 들키지 마세요.";
            swal("나는 나는 사기꾼~🎶", desc, {
                buttons: false,
                timer: 2000,
            });
        } else if(job == 'whistleblower') {
            desc += "소속: 시민\n\n카테고리: " + '{{ gamer.game.categoryname }}' + "\n제시어: " + '{{ gamer.game.word }}' + "\n라이어: " + '{{ liar.user.username }}';
            if('{{ gamer.game.tricksterYn }}' == 'True') {
                desc += "\n\n목표\n1. 라이어와 사기꾼을 찾으세요.";
            } else  {
                desc += "\n\n목표\n1. 라이어를 찾으세요.";
            }
            desc += "\n2. 라이어에게 정체를 들키지 마세요.";
            swal("라이어가 누구냐면? 쉿~🤫", desc, {
                buttons: false,
                timer: 2000,
            });
        } else if(job == 'observer') {
            desc += "카테고리: " + '{{ gamer.game.categoryname }}' + "\n제시어: " + '{{ gamer.game.word }}' + "\n라이어: " + '{{ liar.user.username }}';
            swal("그냥 보고만 있을게~🐙", desc, {
                buttons: false,
                timer: 2000,
            });
        }
    }

    function speech() {
        swal("제시어에 따라 발언을 해주세요.", {
            content: {
                element: "input",
                attributes: {
                    type: "text",
                    maxlength: 100,
                    placeholder: "내용",
                },
            },
            buttons: ["취소", "말하기"],
        }).then(function(response) {
            if(response != null && response != '') {
                id_speech.value = response;
                id_action.value = "speech";
                document.forms['gameform'].submit();

                web_socket.send(JSON.stringify({
                    'message': 'refresh'
                }));
            }
        });
    }

    function saying(speech) {
        swal(speech, {
                buttons: false,
                timer: 2000,
            });
    }

    function sayingall() {
        swal( "너 지금 뭐라했냐?", ""
        {% for ready_gamer in ready_gamers %}
            {% if ready_gamer.speech1 %}
             + "\n" + '{{ ready_gamer.user.username }}' + ": " + '{{ ready_gamer.speech1 }}'
            {% endif %}
        {% endfor %}
        {% for ready_gamer in ready_gamers %}
            {% if ready_gamer.speech2 %}
             + "\n" + '{{ ready_gamer.user.username }}' + ": " + '{{ ready_gamer.speech2 }}'
            {% endif %}
        {% endfor %}
        );
    }

    function whoistarget(target) {
        id_vote.value = target;
        id_action.value = "vote";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function votetarget(target) {
        id_targetusername.value = target;
        id_action.value = "target";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function runawaylock(lock) {
        id_lock.value = lock;
        id_action.value = "lock";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function killtarget(target) {
        id_lock.value = 'whistleblower';
        id_key.value = target;
        id_action.value = "runaway";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }

    function killword(target) {
        id_lock.value = 'word';
        id_key.value = target;
        id_action.value = "runaway";
        document.forms['gameform'].submit();

        web_socket.send(JSON.stringify({
            'message': 'refresh'
        }));
    }
    </script>
</head>
<body>
{% include "./menu.html" %}
{% load static %}
{% load liar_tags %}
<form name="gameform" action="{% url 'liar:game' gamer.game.gamecode gamer.user.username %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" id="id_action"/>
    <input type="hidden" name="categoryname" id="id_categoryname"/>
    <input type="hidden" name="speech" id="id_speech"/>
    <input type="hidden" name="vote" id="id_vote"/>
    <input type="hidden" name="targetusername" id="id_targetusername"/>
    <input type="hidden" name="lock" id="id_lock"/>
    <input type="hidden" name="key" id="id_key"/>
</form>
<div id="play_msg" style="text-align:center;">
    {% if gamer.game.ingameCd == 0 %}
    <p class="text-warning">대기 중인 플레이어들은 참가 혹은 관전을 선택해 주세요.</p>
    {% elif gamer.game.ingameCd == 1 %}
    <p class="text-warning">플레이어들은 제시어 카테고리를 선택해 주세요.</p>
    {% elif gamer.game.ingameCd == 2 %}
    <p class="text-warning">{{ gamer.game.turnusername }}님, 제시어에 따라 발언을 해주세요.</p>
    {% elif gamer.game.ingameCd == 3 %}
        {% if gamer.game.vote == 0 %}
    <p class="text-warning">플레이어들은 검거 대상을 선택해 주세요.</p>
        {% else %}
    <p class="text-warning">의심가는 플레이어에게 투표하세요.</p>
        {% endif %}
    {% elif gamer.game.ingameCd == 4 %}
    <p class="text-warning">라이어({{ liar.user.username }})가 도주를 시도하고 있습니다.</p>
    {% elif gamer.game.ingameCd == 5 %}
    <p class="text-warning">결과를 확인하세요.</p>
    {% endif %}
</div>
<p style="text-indent: 0.5em;">
    <div id="play_btn">
        <table style="margin-left: auto;margin-right: auto;">
            <tr>
                <td>
                    <a href="{% url 'liar:game' gamer.game.gamecode gamer.user.username %}"><button type="button" class="btn btn-outline-info" style="height:25px;padding-top:initial;padding-bottom:initial;">새로고침</button></a>
                    {% if gamer.game.ingameCd == 0 %}
                        {% if gamer.status != 1 %}
                    <button type="button" onclick="readygame()" class="btn btn-outline-info" style="height:25px;padding-top:initial;padding-bottom:initial;">참가</button></a>
                        {% endif %}
                        {% if gamer.status != 2 %}
                    <button type="button" onclick="viewgame()" class="btn btn-outline-info" style="height:25px;padding-top:initial;padding-bottom:initial;">구경</button></a>
                        {% endif %}
                    {% endif %}
                    {% if gamer.user.username == gamer.game.master.username %}
                        {% if gamer.game.ingameCd == 0 and not wait_gamers and ready_gamers|length > 3 %}
                    <button type="button" onclick="startgame()" class="btn btn-outline-primary" style="height:25px;padding-top:initial;padding-bottom:initial;">게임시작</button></a>
                        {% elif gamer.game.ingameCd == 2 %}
                    <button type="button" onclick="votegame()" class="btn btn-outline-primary" style="height:25px;padding-top:initial;padding-bottom:initial;">투표</button></a>
                        {% elif gamer.game.ingameCd == 3 %}
                    <button type="button" onclick="liargame()" class="btn btn-outline-primary" style="height:25px;padding-top:initial;padding-bottom:initial;">마지막선택</button></a>
                        {% elif gamer.game.ingameCd == 4 %}
                    <button type="button" onclick="resultgame()" class="btn btn-outline-primary" style="height:25px;padding-top:initial;padding-bottom:initial;">결과확인</button></a>
                        {% elif gamer.game.ingameCd == 5 %}
                    <button type="button" onclick="endgame()" class="btn btn-outline-primary" style="height:25px;padding-top:initial;padding-bottom:initial;">게임종료</button></a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="tdh6" style="text-align:right;">
                {% if gamer.game.ingameCd == 0 %}
                    by <a href="{% url 'liar:telegram' gamer.game.gamecode gamer.user.username %}">{{ gamer.game.gamecode }}</a>
                {% else %}
                    Round : {{ gamer.game.round }} by {{ gamer.game.gamecode }}
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</p>
<div id="gamer_jobs">
    <table style="margin-left: auto;margin-right: auto;">
        <tbody>
            <tr>
                <td class="tdh6" scope="row" style="width: 10%;">
                    직업
                </td>
                <td class="td6" scope="row">
                    <button type="button" onclick="descjob('citizen')" class="btn btn-outline-warning disabled" style="height:20px;padding-top:initial;padding-bottom:initial;">시민</button>
                </td>
                <td class="td6" scope="row">
                    <button type="button" onclick="descjob('liar')" class="btn btn-outline-warning disabled" style="height:20px;padding-top:initial;padding-bottom:initial;">라이어</button>
                </td>
                <td class="td6" scope="row">
                {% if gamer.game.tricksterYn %}
                    {% if gamer.game.ingameCd == 0 and gamer.user.username == gamer.game.master.username %}
                    <button type="button" onclick="trickster('{{ gamer.game.tricksterYn }}')" class="btn btn-outline-warning" style="height:20px;padding-top:initial;padding-bottom:initial;">사기꾼</button>
                    {% else %}
                    <button type="button" onclick="descjob('trickster')" class="btn btn-outline-warning disabled" style="height:20px;padding-top:initial;padding-bottom:initial;">사기꾼</button>
                    {% endif %}
                {% elif gamer.game.ingameCd == 0 and gamer.user.username == gamer.game.master.username %}
                    <button type="button" onclick="trickster('{{ gamer.game.tricksterYn }}')" class="btn btn-outline-danger" style="height:20px;padding-top:initial;padding-bottom:initial;">사기꾼</button>
                {% endif %}
                </td>
                <td class="td6" scope="row">
                {% if gamer.game.whistleblowerYn %}
                    {% if gamer.game.ingameCd == 0 and gamer.user.username == gamer.game.master.username %}
                    <button type="button" onclick="whistleblower('{{ gamer.game.whistleblowerYn }}')" class="btn btn-outline-warning" style="height:20px;padding-top:initial;padding-bottom:initial;">내부고발자</button>
                    {% else %}
                    <button type="button" onclick="descjob('whistleblower')" class="btn btn-outline-warning disabled" style="height:20px;padding-top:initial;padding-bottom:initial;">내부고발자</button>
                    {% endif %}
                {% elif gamer.game.ingameCd == 0 and gamer.user.username == gamer.game.master.username %}
                    <button type="button" onclick="whistleblower('{{ gamer.game.whistleblowerYn }}')" class="btn btn-outline-danger" style="height:20px;padding-top:initial;padding-bottom:initial;">내부고발자</button>
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% if wait_gamers %}
<div id="gamer_wait">
    <table style="margin-left: auto;margin-right: auto;">
        <tbody>
            <tr>
                <td class="tdh6" scope="row" style="width: 10%;">
                    대기
                </td>
                <td class="td6" scope="row">
                    {% for wait_gamer in wait_gamers %}
                    <button type="button" class="btn btn-outline-dark disabled" style="height:20px;padding-top:initial;padding-bottom:initial;">{{ wait_gamer.user.username }}</button>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% if view_gamers %}
<div id="gamer_view">
    <table style="margin-left: auto;margin-right: auto;">
        <tbody>
            <tr>
                <td class="tdh6" scope="row" style="width: 10%;">
                    관전
                </td>
                <td class="td6" scope="row">
                    {% for view_gamer in view_gamers %}
                    <button type="button" class="btn btn-outline-secondary disabled" style="height:20px;padding-top:initial;padding-bottom:initial;">{{ view_gamer.user.username }}</button>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% if ready_gamers %}
<p style="text-indent: 0.5em;">
    <div id="player">
        <table style="margin-left: auto;margin-right: auto;">
            <thead>
                <tr>
                    <td class="tdh6c" scope="row">플레이어</td>
                    {% if gamer.game.ingameCd == 5 %}
                    <td class="tdh6c" scope="row">정체</td>
                    {% else %}
                    <td class="tdh6c" scope="row">상태</td>
                    {% endif %}
                    {% if gamer.game.ingameCd > 1 and ready_gamers.0.speech1 %}
                    <td class="tdh6c" scope="row">발언</td>
                    {% endif %}
                    <td class="tdh6c" scope="row" style="width: 40%;">정보</td>
                </tr>
            </thead>
            <tbody>
                {% for ready_gamer in ready_gamers %}
                <tr>
                    <td class="td6c" scope="row">{{ ready_gamer.user.username }}</td>
                    {% if gamer.game.ingameCd == 5 %}
                    <td class="td6c" scope="row">
                        {% if ready_gamer.job == 'citizen' %}
                        시민
                        {% elif ready_gamer.job == 'liar' %}
                        <b style='color:red !important;'>라이어</b>
                        {% elif ready_gamer.job == 'trickster' %}
                        <b style='color:orange !important;'>사기꾼</b>
                        {% elif ready_gamer.job == 'whistleblower' %}
                        <b style='color:blue !important;'>내부고발자</b>
                        {% endif %}
                    </td>
                    {% else %}
                    <td class="td6c" scope="row">
                        {% if gamer.game.ingameCd == 0 %}
                        참가
                        {% elif gamer.game.ingameCd == 1 %}
                            {% if ready_gamer.categoryname %}
                        완료
                            {% else %}
                        선택중
                            {% endif %}
                        {% elif gamer.game.ingameCd == 2 %}
                            {% if ready_gamer.user.username == gamer.game.turnusername %}
                                {% if gamer.user.username == gamer.game.turnusername %}
                        <button type="button" onclick="speech()" class="btn btn-outline-danger btn-sm" style="height:20px;padding-top:initial;padding-bottom:initial;">말하기</button>
                                {% else %}
                            말하는 중
                                {% endif %}
                            {% endif %}
                        {% elif gamer.game.ingameCd == 3 %}
                            {% if gamer.game.vote == 0 %}
                                {% if ready_gamer.vote == 1 %}
                        라이어
                                {% elif ready_gamer.vote == 2 %}
                        사기꾼
                                {% else %}
                        선택중
                                {% endif %}
                            {% elif not gamer.game.targetusername %}
                                {% if ready_gamer.targetusername %}
                        선택완료
                                {% else %}
                        선택중
                                {% endif %}
                            {% endif %}
                        {% elif gamer.game.ingameCd == 4 %}
                            {% if ready_gamer.user.username == liar.user.username %}
                        도주시도
                            {% endif %}
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if gamer.game.ingameCd > 1 and ready_gamers.0.speech1 %}
                    <td class="td6c" scope="row">
                        {% if ready_gamer.speech1 %}
                        <button type="button" onclick="saying('{{ ready_gamer.speech1 }}')" class="btn btn-outline-dark btn-sm" style="height:20px;padding-top:initial;padding-bottom:initial;">1</button>
                        {% endif %}
                        {% if ready_gamer.speech2 %}
                        <button type="button" onclick="saying('{{ ready_gamer.speech2 }}')" class="btn btn-outline-dark btn-sm" style="height:20px;padding-top:initial;padding-bottom:initial;">2</button>
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if forloop.counter == 1 %}
                    <td class="td6c" scope="row" rowspan="{{ ready_gamers|length }}">
                        {% if gamer.game.ingameCd == 0 %}
                        {% elif gamer.game.ingameCd == 1 %}
                            {% if gamer.status == 1 and not gamer.categoryname %}
                                {% for category in categories %}
                        <button type="button" onclick="gamecategory('{{ category.categoryname }}')" class="btn btn-outline-success" style="height:25px;padding-top:initial;padding-bottom:initial;">{{ category.categoryname }}</button>
                                {% endfor %}
                            {% else %}
                                {% for player_category in player_categories %}
                        {{ player_category.0 }} : {{ player_category.1 }}<br>
                                {% endfor %}
                            {% endif %}
                        {% elif gamer.game.ingameCd != 5 %}
                            {% if gamer.status == 1 %}
                        <button type="button" onclick="info('{{ gamer.job }}')" class="btn btn-outline-success" style="height:25px;padding-top:initial;padding-bottom:initial;">정보 확인</button>
                            {% else %}
                        <button type="button" onclick="info('observer')" class="btn btn-outline-success" style="height:25px;padding-top:initial;padding-bottom:initial;">정보 확인</button>
                            {% endif %}
                            {% if gamer.game.ingameCd > 1 %}
                                {% if ready_gamers.0.speech1 %}
                        <br><br>
                        <button type="button" onclick="sayingall()" class="btn btn-outline-success" style="height:25px;padding-top:initial;padding-bottom:initial;">발언(전체)</button>
                                {% endif %}
                            {% endif %}
                        {% elif gamer.game.ingameCd == 5 %}
                        <script type="text/javascript">
                        if(('{{ gamer.game.vote }}' == 0) || ('{{ gamer.game.vote }}' == 1 && '{{ gamer.game.liarkey }}' == '')) {
                            swal("라운드 종료~⛔", "by. 마스터 플레이어(" + '{{ gamer.game.master.username }}' + ")", {
                                buttons: false,
                                timer: 2000,
                            });
                        } else {
                            var target_job = '라이어';
                            if('{{ gamer.game.vote }}' != 1) {
                                target_job = '사기꾼';
                            }
                            swal( "투표 결과(대상:" + target_job + ")", ""
                            {% for ready_gamer in ready_gamers %}
                                 + "\n" + '{{ ready_gamer.user.username }}' + ": " + '{{ ready_gamer.targetusername }}'
                            {% endfor %}
                            ).then((response) => {
                                if('{{ gamer.game.winner }}' == "citizen") {
                                    if('{{ gamer.game.vote }}' == 1) {
                                        if('{{ gamer.game.liarlock }}' == 1) {
                                            swal("시민팀 승~🧐", "라이어가 제시어(" + '{{ liar.game.liarkey }}' + ")로 탈출 실패~🚔", {
                                                buttons: false,
                                                timer: 2000,
                                            });
                                        } else if('{{ gamer.game.liarlock }}' == 2) {
                                            swal("시민팀 승~🧐", "무고한 시민(" + '{{ liar.game.liarkey }}' + ") 사망~😱", {
                                                buttons: false,
                                                timer: 2000,
                                            });
                                        } else {
                                            swal("시민팀 승~🧐", "라이어 " + '{{ gamer.game.targetusername }}' + " 검거~🚔", {
                                                buttons: false,
                                                timer: 2000,
                                            });
                                        }
                                    } else {
                                        swal("시민팀 승~🧐", "사기꾼 " + '{{ gamer.game.targetusername }}' + " 검거~🚔", {
                                            buttons: false,
                                            timer: 2000,
                                        });
                                    }
                                } else {
                                    if('{{ gamer.game.vote }}' == 1) {
                                        if('{{ gamer.game.targetusername }}' == '{{ liar.user.username }}') {
                                            if('{{ gamer.game.liarlock }}' == 1) {
                                                swal("라이어팀 승~👻", "라이어가 제시어(" + '{{ liar.game.liarkey }}' + ")로 탈출~🛫", {
                                                    buttons: false,
                                                    timer: 2000,
                                                });
                                            } else if('{{ gamer.game.liarlock }}' == 2) {
                                                swal("라이어팀 승~👻", "배신자 " + '{{ liar.game.liarkey }}' + " 처단~😵 by.라이어", {
                                                    buttons: false,
                                                    timer: 2000,
                                                });
                                            } else {
                                                swal("라이어팀 승~👻", "라이어 검거 실패~😞", {
                                                    buttons: false,
                                                    timer: 2000,
                                                });
                                            }
                                        } else if('{{ gamer.game.targetusername }}' == 'TIE') {
                                            swal("라이어팀 승~👻", "혼란하다~혼란해~😵‍💫", {
                                                buttons: false,
                                                timer: 2000,
                                            });
                                        } else {
                                            swal("라이어팀 승~👻", "억울한 시민 " + '{{ gamer.game.targetusername }}' + "~😡", {
                                                buttons: false,
                                                timer: 2000,
                                            });
                                        }
                                    } else {
                                        if('{{ gamer.game.targetusername }}' == '{{ liar.user.username }}') {
                                            swal("라이어팀 승~🎶", "똑똑한 라이어 " + '{{ gamer.game.targetusername }}' + "~😤", {
                                                buttons: false,
                                                timer: 2000,
                                            });
                                        } else {
                                            swal("라이어팀 승~🎶", "억울한 시민 " + '{{ gamer.game.targetusername }}' + "~😎", {
                                                buttons: false,
                                                timer: 2000,
                                            });
                                        }
                                    }
                                }
                            });
                        }
                        </script>
                        카테고리: {{ gamer.game.categoryname }}<br>제시어: {{ gamer.game.word }}
                            {% if ready_gamers.0.speech1 %}
                        <br><br>
                        <button type="button" onclick="sayingall()" class="btn btn-outline-success" style="height:25px;padding-top:initial;padding-bottom:initial;">발언(전체)</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</p><p>
    <div id="comment">
    {% if gamer.game.ingameCd == 3 %}
        {% if gamer.vote == 0 and gamer.status == 1 %}
        <table style="margin-left: auto;margin-right: auto;">
            <thead>
                <tr>
                    <td class="tdh6c" scope="row">검거 대상을 선택해 주세요.</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td6c" scope="row">
                        <button type="button" onclick="whoistarget('trickster')" class="btn btn-warning btn-sm" style="height:25px;padding-top:initial;padding-bottom:initial;">사기꾼</button>
                        <button type="button" onclick="whoistarget('liar')" class="btn btn-danger btn-sm" style="height:25px;padding-top:initial;padding-bottom:initial;">라이어</button>
                    </td>
                </tr>
            </tbody>
        </table>
        {% elif not gamer.targetusername and gamer.game.vote != 0 and gamer.status == 1 %}
        <table style="margin-left: auto;margin-right: auto;">
            <thead>
                <tr>
            {% if gamer.game.vote == 1 %}
                {% if ready_gamers|length > 4 %}
                    <td class="tdh6c" scope="row" colspan="4">라이어는 누구일까요?</td>
                {% else %}
                    <td class="tdh6c" scope="row" colspan="{{ ready_gamers|length }}">라이어는 누구일까요?</td>
                {% endif %}
            {% else %}
                {% if ready_gamers|length > 4 %}
                    <td class="tdh6c" scope="row" colspan="4">사기꾼은 누구일까요?</td>
                {% else %}
                    <td class="tdh6c" scope="row" colspan="{{ ready_gamers|length }}">사기꾼은 누구일까요?</td>
                {% endif %}
            {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
            {% for target_gamer in ready_gamers %}
                    <td class="td6c" scope="row">
                        <button type="button" onclick="votetarget('{{ target_gamer.user.username }}')" class="btn btn-info" style="height:25px;padding-top:initial;padding-bottom:initial;">{{ target_gamer.user.username }}</button>
                    </td>
                {% if forloop.counter|divisibleby:4 != 0 %}
                        </tr><tr>
                {% endif %}
            {% endfor %}
                </tr>
            </tbody>
        </table>
        {% endif %}
    {% elif gamer.game.ingameCd == 4 %}
        {% if gamer.user.username == liar.user.username %}
            {% if gamer.game.whistleblowerYn and gamer.game.liarlock == 0 %}
        <table style="margin-left: auto;margin-right: auto;">
            <thead>
                <tr>
                    <td class="tdh6c" scope="row">도주를 시도할 방법은?</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td6c" scope="row">
                        <button type="button" onclick="runawaylock('word')" class="btn btn-success btn-sm" style="height:25px;padding-top:initial;padding-bottom:initial;">제시어</button>
                        <button type="button" onclick="runawaylock('whistleblower')" class="btn btn-danger btn-sm" style="height:25px;padding-top:initial;padding-bottom:initial;">배신자</button>
                    </td>
                </tr>
            </tbody>
        </table>
            {% elif gamer.game.liarlock == 2 %}
        <table style="margin-left: auto;margin-right: auto;">
            <thead>
                <tr>
                {% if ready_gamers|length > 4 %}
                    <td class="tdh6c" scope="row" colspan="4">배신자는 누구일까요~🔫?</td>
                {% else %}
                    <td class="tdh6c" scope="row" colspan="{{ ready_gamers|length }}">배신자는 누구일까요~🔫?</td>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for target_gamer in ready_gamers %}
                    <td class="td6c" scope="row">
                        <button type="button" onclick="killtarget('{{ target_gamer.user.username }}')" class="btn btn-danger" style="height:25px;padding-top:initial;padding-bottom:initial;">{{ target_gamer.user.username }}</button>
                    </td>
                    {% if forloop.counter|divisibleby:4 != 0 %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
            {% else %}
        <table style="margin-left: auto;margin-right: auto;">
            <thead>
                <tr>
                {% if words|length > 4 %}
                    <td class="tdh6c" scope="row" colspan="4">제시어는 무엇일까요~?</td>
                {% else %}
                    <td class="tdh6c" scope="row" colspan="{{ words|length }}">제시어는 무엇일까요~?</td>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for word in words %}
                    <td class="td6c" scope="row">
                        <button type="button" onclick="killword('{{ word.word }}')" class="btn btn-info" style="height:25px;padding-top:initial;padding-bottom:initial;">{{ word.word }}</button>
                    </td>
                    {% if forloop.counter|divisibleby:4 != 0 %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
</p>
{% endif %}
</body>
</html>