<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>Liar Game</title>
    <script type="text/javascript">
    function deleteWord(word){
        swal(word + "를 삭제하시겠습니까?", {
            dangerMode: true,
            buttons: ["취소", "삭제"],
        }).then((isConfirm) => {
            if(isConfirm) {
                id_action.value = "del";
                id_word.value = word;
                document.forms['wordform'].submit();
            }
        });
    }
    </script>
</head>
<body>
{% include "./menu.html" %}
{% load static %}
{% if categories %}
<div style="text-align:center;">
    <p class="text-warning">단어를 추가할 카테고리를 선택해 주세요.</p>
</div>
<table style="margin-left: auto;margin-right: auto;">
    <tbody>
        <tr>
        {% for category in categories %}
            <td class="tdh6" scope="row">
                <a href="{% url 'liar:word' category.categoryname %}">
                    <button type="button" class="btn btn-outline-info" style="height:30px;padding-top:initial;padding-bottom:initial;">{{ category.categoryname }}</button>
                </a>
            </td>
            {% if forloop.counter|divisibleby:4 != 0 %}
         </tr><tr>
            {% endif %}
        {% endfor %}
        </tr>
    </tbody>
</table>
{% elif category %}
<div style="text-align:center;">
    <p class="text-warning">단어를 추가하거나, 선택하여 삭제할 수 있습니다.</p>
</div>
<form name="wordform" action="{% url 'liar:word' category.categoryname %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" id="id_action" value="add" />
    <p style="text-indent: 0.5em;">
        <button type="button" class="btn btn-light disabled">{{ category.categoryname }}</button>
        <input type="text" name="word" id="id_word" maxlength="100" width="100%" placeholder="단어"/>
        <button type="submit" class="btn btn-outline-primary" style="height:30px;padding-top:initial;padding-bottom:initial;">추가</button>
    </p>
</form>
    {% if words %}
<table style="margin-left: auto;margin-right: auto;">
    <tbody>
        <tr>
        {% for word in words %}
            <td class="tdh6" scope="row">
                <button onclick="deleteWord( '{{ word.word }}' )" type="button" class="btn btn-info disabled" style="height:30px;padding-top:initial;padding-bottom:initial;">{{ word.word }}</button>
            </td>
            {% if forloop.counter|divisibleby:4 != 0 %}
         </tr><tr>
            {% endif %}
        {% endfor %}
        </tr>
    </tbody>
</table>
    {% endif %}
{% endif %}
</body>
</html>