{# login.html #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>달무티 온라인</title>
    <style>
        .rule{
            width: 100%;
        }
    </style>

    <script type="text/javascript">
    </script>

</head>
<body>
{% include "./menu.html" %}
    {% load static %}
    <img class="rule" src="{% static  'dalmuti/images/' %}rule1.JPG"  name="gameRule1" border="0">
    <img class="rule" src="{% static  'dalmuti/images/' %}rule2.JPG"  name="gameRule2" border="0">
</body>
</html>