{% load static %}
<link rel="stylesheet" href="{% static 'liar/css/bootstrap.min.css' %}">
<script src="{% static 'liar/js/sweetalert.min.js' %}"></script>
<ol class="breadcrumb">
    {% if gamer %}
    <li class="breadcrumb-item">{{ gamer.user.username }}</li>
    {% else %}
    <li class="breadcrumb-item">Davinci Code</li>
    {% endif %}
    <li class="breadcrumb-item active"><a href="{% url 'davinci:main' %}">게임시작</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'davinci:rule' %}">규칙</a></li>
</ol>
<p></p>