<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>몽당</title>
</head>
<script type="text/javascript">
    function mongdang(username) {
        id_username.value = username;
        id_action.value = "login";

        function seoulnstower() {
            id_latitude.value = 37.551411; // 위도
            id_longitude.value = 126.988274; // 경도

            document.forms['mainform'].submit();
        };

        function success(position) {
            id_latitude.value = position.coords.latitude; // 위도
            id_longitude.value = position.coords.longitude; // 경도

            document.forms['mainform'].submit();
        };

        function error() {
            swal("현재 위치 조회 불가~☠", {
                buttons: false,
                timer: 1000,
            }).then(function(response) {
                seoulnstower();
            });
        };

        // HTML5의 GeoLocation을 사용할 수 있을 때,
        if (navigator.geolocation) {
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다.
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            swal("GeoLocation 사용 불가~☠", {
                buttons: false,
                timer: 1000,
            }).then(function(response) {
                seoulnstower();
            });
        };
    }
</script>
<body>
{% include "./menu.html" %}
{% load static %}
{% load mongdang_tags %}
<form name="mainform" action="{% url 'mongdang:main' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" id="id_action"/>
    <input type="hidden" name="username" id="id_username"/>
    <input type="hidden" name="latitude" id="id_latitude"/>
    <input type="hidden" name="longitude" id="id_longitude"/>
</form>
{% if user_list %}
<p style="text-indent: 0.5em;">
    {% for user in user_list %}
    <button type="button" onclick="mongdang('{{ user.username }}')" class="btn btn-outline-secondary">{{ user.username }}</button>
        {% if forloop.counter|divisibleby:4 != 0 %}
    </p><p style="text-indent: 0.5em;">
        {% endif %}
    {% endfor %}
</p>
{% endif %}
</body>
</html>